modules = ["nodejs-20", "web", "python-3.11", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 23636
externalPort = 3001

[[ports]]
localPort = 23637
externalPort = 3000

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
EMAIL_FROM = "ColdStreak <noreply@coldstreakapp.com>"
VAPID_PUBLIC_KEY = "BBAx6BR8nXtRJYMBvC_IhHyel8eAwnoA2x58WWMhDLkvjgBrNlnoxJCadgl1C-cC2MT1IGb6z8wV4h_4khVw2A4"
VAPID_PRIVATE_KEY = "kyMXY9tHdejEOVCAFsZbVth93F9SlCppQDM4oebqBcQ"
VITE_VAPID_PUBLIC_KEY = "BBAx6BR8nXtRJYMBvC_IhHyel8eAwnoA2x58WWMhDLkvjgBrNlnoxJCadgl1C-cC2MT1IGb6z8wV4h_4khVw2A4"
USE_STRIPE_TEST = "false"
SPOTIFY_CLIENT_ID = "3a228da8269c4d7aae428ee6f520dcd8"

[agent]
integrations = ["javascript_object_storage:2.0.0", "spotify:1.0.0"]
